html{font-size: 62.5%;}
body{font-family: "Montserrat", sans-serif;font-size: 1.2rem;line-height: 1.1;font-weight: 400;}
ul{padding-left: 0;margin-bottom: 0;}
li{list-style: none;}
input:focus{outline: none;}

.section{padding: 13.5rem 0;}

/* font sizes  */
.heading01{font-size: 2.4rem;line-height: 1.2;color: #FECD2E;font-family: "KENOKY";}
.heading02{font-size: 1.4rem;line-height: 1;font-family: "KENOKY";color: #000000;letter-spacing: 1px;}

/* font family  */
@font-face {
    font-family: "KENOKY";
    src: url('../fonts/KENOKY-Light.ttf');
}
@font-face {
    font-family: "Calloveya";
    src: url('../fonts/Calloveya.ttf');
}

.header{position: fixed;left: 0;right: 0;top: 0;z-index: 9;}
.header.active{background: rgba(0, 0, 0, 0.8);}
.cus-navbar{display: flex;align-items: center;justify-content: space-between;padding: 2.6rem 0;}
.cus-navbar .menu-list ul li{display: inline-block;margin-right: 4.8rem;color: #B9B198;cursor: pointer;}
.cus-navbar .regi-btn{cursor: pointer;}
.menu-icon{display: none;}
/* header section close  */

.achivment{background: url(../img/bg-2.png);background-repeat: no-repeat;background-position: center;background-size: cover;}
.achivment .boxes{position: relative;margin-top: 5.7rem;display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;grid-gap: 2.4rem;}
.achivment .boxes .box{background: #181103;padding: 3.3rem 4.2rem;}
.achivment .boxes .box .achiv-text{margin-top: 19rem;font-size: 6.4rem;color: #FECD2E;font-family: "KENOKY";}
.achivment .boxes .box .achiv-text span{font-size: 1.4rem;line-height: 1;color: #B9B198;font-family: "Montserrat", sans-serif;display: block;}
.achivment  .custext{font-size: 8.4rem;color: #584317;font-weight: 400;font-family: "Calloveya";position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);width: max-content; letter-spacing: -3px;}
/* achivment section close  */

.partner{background-color: #0F0901;}
.partner .our-logos{display: flex;flex-wrap: wrap; width: 80%;margin: 0 auto;margin-top: 7.1rem;grid-gap: 1.8rem;justify-content: center;}
.partner .our-logos .ourlogo{width: 18%;display: block;}
.partner .our-logos .ourlogo img{width: 90%;margin: 0 auto; display: block;}
.partner .our-logos .add-margin{margin-top: -2rem;}
/* partner section close  */

.bg-heading{position: relative;}
.bg-heading::after{position: absolute;content: "Clientele";font-family: "Calloveya";color: #E9BD2C;opacity: 20%; font-size: 15rem;font-weight: 400;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 80%;}
.bg-heading1{position: relative;}
.bg-heading1::after{position: absolute;content: "Testimonials";font-family: "Calloveya";color: #E9BD2C;opacity: 20%; font-size: 15rem;font-weight: 400;left: 50%;top: 50%;transform: translate(-50%, -50%);width: 80%;}

.clients{background: linear-gradient(351deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 60%), url(../img/bg-3.png);background-position: center;background-size: cover;background-repeat: no-repeat;}
.clients .set-img{position: absolute;top: 1rem;left: 1rem;}
.clients .video-box{margin-top: 8.7rem;}
.clients .border-radi{border-radius: .5rem;}
.clients .name{font-size: 2rem;color: #FECD2E;font-family: "KENOKY";}
.clients .discription{color: #B9B198;font-size: 1rem;}


.footer{background-color: #151102;}
.footer-mainbox{margin-top: 5.7rem;}
.footer-mainbox .box1{background-color: #EFE4D3;padding: 0 1.8rem;}
.footer-mainbox .box1 .inner1 .form input{border: none;background: none;border-bottom: 1px solid #000000;}
.footer-mainbox .box1 .inner1 .form button{background-color: #000000;color: #FFD008;font-size: 1rem;padding: .8rem 1.6rem;border-radius: 4rem;}
.footer-mainbox .box1 .inner2 .text1{position: absolute;font-size: 1.1rem;line-height: 1.2;font-weight: 400;color: #FECD2E;top: 2rem;left: 1.8rem;}
.footer-mainbox .box1 .inner2 .text2{position: absolute;font-size: 4.7rem;line-height: 1;color: #FECD2E;font-weight: 300;font-family: "KENOKY";right: 1rem;bottom: 1.8rem;text-align: end;}
.footer-mainbox .box1 .inner2 .text2 span{font-size: 1.4rem;line-height: 1;}
.footer-mainbox .box1 .inner3 p{font-size: 1rem;font-weight: 400;}

.footer-mainbox .box2 .inner1 ul li {color: #B9B198;font-size: 1.2rem;line-height: 1;margin-bottom: 3.2rem;}
.footer-mainbox .box2 .inner2 p{color: #FFFFFF;font-size: 1.1rem;line-height: 1;}
.footer-mainbox .box2 .inner2 .number{font-size: 1.2rem;line-height: 1;color: #B9B198;font-weight: 400;}
.footer-mainbox .box2 .inner2 .mail a{font-size: 1.2rem;line-height: 1;color: #B9B198;font-weight: 400;}
.footer-mainbox .box2 .inner2 .powered{font-size: 1rem;color: #B9B198;margin-top: 5rem;}